# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (Node.js)
node_modules/
npm-debug.log
yarn-error.log

# Build directories
dist/
build/

# Environmental variables
.env

# IDEs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
