version: '3.8'

services:

  app:
    container_name: go-blog-app
    build: ./Server        
    ports:
      - "3000:3000"
    depends_on:
      - db                
    environment:
      - DB_HOST=db         
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=markdown_db
      - DB_PORT=5432


  db:
    image: postgres:15-alpine
    container_name: postgres-db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: markdown_db  
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
    driver: local